@charset "UTF-8";

.join-wrap{
	max-width : 1000px;
	width : 95%;
	margin : auto;
}

.form-error-text{
	font-size: 12px;
   	font-weight: 400;
}


.valid-pass{
	color : #00c471 !important;
}

.valid-fail{
	color : red !important;
}


.form-error-text > span{
	font-size: 12px;
   	color: #abb0b5;
}

.form-error-pw-check{
	display : none;
	color : red !important;
}

.form-error-email{
	display : none;
	color : red !important;
}

.join-form-wrap{
	max-width: 460px;
	margin : auto;
}

.form-floating > label{
	color : gray !important;
}