<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardMapper">



	<select id="getBoardList" resultType = "BoardVo">
		SELECT
			BOARD_NO AS 'boardNo',
			CATEGORY AS 'category',
			USER_EMAIL AS 'userEmail',
			SUBJECT  AS 'subject',
			CONTENT AS 'content',
			VIEW_CNT AS 'viewCnt',
			REPLY_CNT AS 'replyCnt',
			LIKE_CNT AS 'likeCnt',
			DISLIKE_CNT AS 'disLikeCnt',
			CREATE_TIME AS 'createTime'
		FROM BOARD_INFO
		WHERE 
			CASE 
				WHEN (#{column} = 'CATEGORY' AND  #{data} = 'all')  THEN 1 = 1
				ELSE ${column} = #{data}
			END
	</select>
	
	
	<insert id="registerPost">
		INSERT INTO BOARD_INFO (BOARD_NO,CATEGORY, USER_EMAIL, SUBJECT, CONTENT)
		VALUES (#{boardNo}, #{category}, #{userEmail}, #{subject}, #{content})
	</insert>
	
	
	
</mapper>