@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

body{
    font-family: 'Pretendard-Regular' !important;
}

/* 로그인, 회원가입, 회원정보 navbar */ 
.account-navbar{
	width : 100%;
	border-bottom: 0.1px solid #c0c0c0;
}

.account-nav-wrap{
	max-width : 1000px;
	width : 100%;
	margin : 0 auto;
}

.account-nav-content{
	padding : 10px 0px;
	font-size: 1.35rem;
}